* {
	font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
	background-color: #F4F7FB;
	margin: 0px;
	font-size: 14px;
}

body {
	overflow-y: hidden;
}

.screenDivsion {
	display: flex;

}

/* Header Navigation Bar */

.gmailHeader {
	display: flex;
	margin-left: 1vw;
	margin-top: 0.2vw;
	align-items: center;
	justify-content: space-between;
}

.toggleLogo {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.gmailLogo {
	margin-left: 0.6vw;
	margin-right:100%;
}

.SearchBarDiv {
	display: flex;
	margin-left:9.6vw;
	width: 44.2vw;
	align-items: center;
	justify-content: space-evenly;
	background-color: #e6eeff;
	height: 50px;
	border-radius: 30px;
}

.searchOptionsDiv {
        border-radius:20px;
        padding:6px;
        cursor:pointer;
        margin:0px 5px 0px 5px;
	background-color:#e6eeff;
}
.searchOption{
	background-color:#e6eeff;
        height:24px;	
	width:24px;
}
.searchOptionsDivHid{
	display:none;
}

.searchOptionsDiv:hover {
	background-color:#d6d7db;
}

.searchOptionsDiv:hover>.searchOption {
	background-color:#d6d7db;
}


.searchBar {
        width:100%;
	max-width: 38vw;
	border: transparent;
	background-color: #e6eeff;
}

.searchBar:focus {
	outline: none;
}

.activeInfoSettings {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-left: 2vw;
}

.activeListDiv {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	background-color: #e6eeff;
	height: 45px;
	border-radius: 20px;
	width: 7vw;
}

.greenRound {
	color: #008000;
	font-size: 28px;
	background-color: #e6eeff;
        border-radius:20px;
}

.activeSent {
	background-color: #e6eeff;
	text-shadow: 1px black;
}

.infoButton {
	margin-left: 1.6vw;
}

.contentsButton {
	margin-left: 1.6vw;
}

.settingsButton {
	margin-left: 1.6vw;
}
.userButton {
	margin-left:2.2vw;
}


.userNavDiv {
	display: flex;
	align-items: center;
	justify-content: space-between;

}

/* Main Content */
.mainContent {
	margin: 0px;
}

/* Side Navigation Bar */

.toggleButtonDiv {
	background-color: #e6eeff;
	margin: 25px 10px 0px 10px;
	paddding: 12px;
}

.toggleButton {
	background-color: #e6eeff;
	margin-left: 1vw;
}

.sideNavBar {
	height: 90vh;
	width: 4vw;
	background-color: #ecf0f8;
	padding-right: 1vw;
}

.sideNavComponent1 {
	cursor: pointer;
	background-color: #e6eeff;
	margin-top: 35px;
	margin-left: 1vw;
}

.sideNavComponent2 {
	cursor: pointer;
	background-color: #e6eeff;
	margin-top: 30px;
	margin-left: 1vw;
}

.sideNavComponent3 {
	cursor: pointer;
	background-color: #e6eeff;
	margin-top: 30px;
	margin-left: 1vw;
}

.sideNavInnDiv1 {
	background-color: #ccdcff;
	padding: 10px 16px 10px 16px;
	border-radius: 30px;
	position: absolute;

}

.emailEnvolopeIcon {
	background-color: #ccdcff;
}

.mailIndicator {
	background-color: #990000;
	position: relative;
	margin-left: 1.8vw;
	padding: 0.1vw 0.3vw 0.1vw 0.3vw;
	border-radius: 14px;
	border: 1px solid #e6eeff;
	color: white;
	font-size: 11px;
	font-weight: 800;
}

.sideNavInnDiv2 {
	background-color: #e6eeff;
	margin-left: 10px;
}

.sideNavCompName {
	background-color: #e6eeff;
	font-size: 12px;
	margin-left: 8px;
	color: #54565f;
}

.sideNavCompName1 {
	background-color: #e6eeff;
	font-size: 12px;
	margin-top: 20px;
	margin-left: 1vw;
	color: #54565f;
}

/* Catagories Divison */

.catagoriesDiv {
	margin-left: 1vw;
	margin-top: 10px;
}

.composeDiv {
	padding: 1vw 1vw 1vw 1vw;
	background-color: #b3e6ff;
	border-radius: 15px;
	display: flex;
	justify-content: space-between;
	width: 110px;
	height: 30px;
	cursor: pointer;
        font-weight:500;
}

.composeDiv:hover {
	box-shadow: 2px 2px 2px grey;
}

.penIcon {
	background-color: #b3e6ff;
	margin-top: 6px;
	font-size: 20px;
}

.composeSpan {
	background-color: #b3e6ff;
	margin-top: 8px;
	margin-right: 6px;
	color: #001D35;
	text-shadow: 1px #001D35;
}

.inboxInnerDiv {
	background-color: #ccdcff;
	padding: 8px 12px 8px 12px;
	width: 15vw;
	margin-top: 15px;
	border-radius: 20px;
	cursor: pointer;
        display:flex;
}

.catagoriesInnerDiv {
	margin-top: 20px;
	padding: 10px 12px 10px 12px;
	width: 15vw;
	cursor: pointer;
	margin-top: 1px;
}

.catagoriesInnerDiv:hover {
	background-color: #e6e6e6;
	padding: 10px 12px 10px 12px;
	width: 15vw;
	border-radius: 20px;
}

.catagoriesInnerDiv:hover>.catagoriesSpan {
	background-color: #e6e6e6;
}

.inboxIcon {
	color: black;
	background-color: #ccdcff;
}

.componentsIcon {
	color: black;
}

.inboxSpan {
	background-color: #ccdcff;
	margin-left: 15px;
	font-weight: 600;
}

.inboxBadge {
	background-color: #ccdcff;
	margin-left: auto;
	font-size: 11px;
	font-weight: 600;
}

.catagoriesSpan {
	margin-left: 15px;
	color: #54565f;
}

.labelSpan {
	margin-left: 10px;
	margin-top: 25px;
	color: #54565f;

}

.labelDiv {
	display: flex;
	justify-content: space-between;
	cursor: pointer;
}

.labelIcon {
	color: black;
	margin-top: 25px;
}


.mailsectionMainDiv {
	display: flex;
}

/* Mails Divison */

.mailSectionDiv {
	margin-left: 1.2vw;
	width: 100%;
}

.mailSectionHeader {
	width: 100%;
	background-color: white;
	display: flex;
	justify-content: space-between;
	border-radius: 20px 20px 0px 0px;
	padding: 5px 8px 5px 0px;
	color: #54565f;
}

.mailHeaderDropdown{
	background-color: white;
}

.mailSectionFlex1 {
	background-color: white;
	display: flex;
}

.mailSectionFlex2 {
	background-color: white;
	display: flex;
}

.mailFlex1iconDiv {
	background-color: white;
	padding: 10px 5px 10px 5px;
        border-radius:6px;
        margin-left:15px;
}

.mailFlex1icon2Div {
	background-color: white;
	margin-left: 2px;
	padding: 10px 2px 10px 2px;
        border-radius:2px;
}

.mailFlex1icon {
	background-color: white;
	margin-left: 1vw;
        padding:10px;
        border-radius:20px;
}

.eachMailDiv:hover>.eachMailicon1{
	color:grey;
}
.mailFlex1iconDiv:hover {
	background-color: #d6d7db;
	cursor: pointer;
	transition-duration:1s;
}

.mailFlex1icon2Div:hover {
	background-color: #d6d7db;
	cursor: pointer;
	transition-duration:1s;
}

.mailFlex1icon:hover {
	background-color: #d6d7db;
	cursor: pointer;
	transition-duration:700ms;
       
}

.mailTotNumber {
	margin-right: 35px;
	background-color: white;
	font-size: 12px;
        padding:10px 10px 10px 10px;
        border-radius:6px;
}
.mailTotNumber:hover {
	background-color: #d6d7db;
	cursor:pointer;
}

.mailFlex2icon {
	margin-right: 15px;
}

.mailFlex2Div1 {
	margin-right: 20px;
	background-color: white;
        margin-top:10px;
}

.mailFlex2Div2 {
	background-color: white;
	margin-right: 40px;
        padding:10px ;
}

.mailFlex2Div2:hover {
	background-color: #d6d7db;
        border-radius:8px;
	transition-duration:700ms;
}



.eachMailDivMain {
	width: 100%;
	height: 80vh;
	overflow-x: hidden;
	overflow-y: scroll;
}

.eachMailDiv {
	display: flex;
	width: 98%;
	padding: 12px 0px 12px 20px;
	border-bottom: 1px solid #d6d7db;
	cursor: pointer;
	align-items:center;
}


.eachMailDiv:hover {
	border-right: 1px solid #d6d7db;
	border-left: 1px solid #d6d7db;
	box-shadow: 2px 2px 5px 0px rgb(0, 0, 0, 0.5);
	margin-bottom:1.5px;

}

.eachMailicon1 {
	color: #d6d7db;
}

.eachMailicon2 {
	color: #d6d7db;
	margin-left: 10px;
}

.eachMailDiv:hover>.eachMailIconInnDiv>.eachMailicon1{
	color:black;
}

.eachMailDiv:hover>.eachMailIconInnDiv>.eachMailicon2{
	color:black;
}

.eachMailIconInnDiv {
	width:22%;
}

.emailContent1 {
	margin-left:10px

}

.emailContent {
	margin-left:1vw;
	color: #808080;
        text-overflow:ellipsis;
	overflow:hidden;
	white-space: nowrap;
}

.emailTimeSpan {

	font-size: 12px;
	color: #808080;
	margin-left:10vw;
	width:8%;
}
.hiddenspan{
	display:none;
}
.eachMailDiv:hover>.hiddeniHover{
        display:unset;
	color:black;
        margin-left:2vw;
}

.hiddeniHover{
        display:none;
}
.eachMailDiv:hover>.emailTimeSpan{
        display:none
}
@media screen and (max-width:980px) {
	.eachMailDiv {
		display: grid;
		width:100%;
	}
        .emailContent1 {
		margin-left: 30px;

	}

	.emailContent {
		margin-left: 30px;
		color: #808080;
	}
	.emailTimeSpan {
		margin-left: 30px;
	}
	.eachMailicon2 {
		display:none
	}
	.activeListDiv {
		width: auto;
	}
	.searchBarDiv {
		width: auto;
	}
	.sideNavBar {
		width: auto;
		padding-right: auto;
	}
	.hiddenspan{
		display:unset;
	}
	.eachMailDiv:hover>.hiddeniHover{
       		 display:none;
	}

	.hiddeniHover{
      		  display:none;
	}
	.eachMailDiv:hover>.emailTimeSpan{
      		  display:unset
	}

	.activeSent {
		display:none;
	}

}
@media screen and (max-width:866px) {
	.searchOptionsDivHid{
		display:unset;
	}
	.SearchBarDiv{
		display:none;
	}
	.searchOption{
		background:none;
	}
	.inboxBadge {
		display:none;
	}
	.emailTimeSpan{
		width:100%;
	}
	.emailContent1{
		width:90%;
	}
	.inboxInnerDiv {
		max-width: 15vw;
		width: auto;
	}	
}





